__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
*.whl
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ipynb_checkpoints
.vscode/
.mypy_cache/
.dmypy.json
.env
.venv
env/
venv/
.uv/
.idea/
*.log
uv.lock